body{background-image:url("img\webuus.png");}
h1 { font-family:papyrus;color:rgb(144, 10, 10); text-align: center;background-color: blue;}
h2 { font-family:papyrus;color:rgb(144, 10, 10); text-align: left;}
h3 { font-family:papyrus;}